[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
requests = "*"
datetime = "*"
numpy = "*"
plotly = "*"
yfinance = "*"
finlab = "*"

[dev-packages]
finlab = "*"

[requires]
python_version = "3.7"
